body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  	font-family: Tahoma;
}
header {
	width: 100%;
	background-color: #5c5c5c;
	height: 5rem;
	margin-top: 2rem;
}
strong {
	font-weight: bold;
}
footer {
	width: 100%;
	background-color: #1cd0b4;
	margin-top: 1rem;
}
a {
	color: #8d0064;
	text-decoration: underline;
}
a img:hover {
	transform: scale(1.2);
	transition: all 150ms linear;
}
#main-container {
	width: 100%;
	flex: 1;
}
#left-container {
	float: left;
	padding-left: 5%;
    max-width: 55%;
}
#right-container {
	width: 39%;
	float: right;
}
.small-font {
	font-style: italic;
	font-size: 1rem;
	line-height: 1.25rem;
}
.contact-icon {
	width: 3rem;
	margin: 0 auto;
}
#social-icon-container {
	display: flex;
	justify-content: space-between;
}
.social-icon {
	width: 2.5rem;
}
#main-image {
	width: 100%;
}
h1 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-top: 3rem;
	padding-bottom: 2rem;
	text-shadow: 1px 0 0 #38d4c7, -1px 0 0 #38d4c7, 0 1px 0 #38d4c7, 0 -1px 0 #38d4c7, 1px 1px #38d4c7, -1px -1px 0 #38d4c7, 1px -1px 0 #38d4c7, -1px 1px 0 #38d4c7;
}
p {
	padding-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-align: justify;
}
#social-container {
	width: 40%;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
}
.social-group {
	width: 27%;
	text-align: center;
}
.social-heading {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: .5rem;
}
#social-paragraph {
	color: #fff;
	margin-bottom: .5rem;
	padding-bottom: 0;
	text-align: center;
}
.dot {
	width: 1rem;
	height: 1rem;
	background-color: #64ffe2;
	margin-top: .25rem;
}
#copyright {
	width: 40%;
	margin: 2rem auto 1rem auto;
	font-style: italic;
	font-size: 1rem;
	color: #fff;
	display: block;
	text-align: center;
}
#main-logo {
	width: 5rem;
    float: right;
    margin-right: 10%;
    margin-top: .5rem;
}
@media screen and (max-width: 1023px) {
	#left-container {
		max-width: 90%;
	}
	#right-container {
		display: none;
	}
	#social-container {
		width: 100%;
		max-width: 400px;
	}
	#copyright {
		width: 100%;
		max-width: 400px;
	}
	.social-icon {
		width: 2.75rem;
	}
	.contact-icon {
		width: 3.5rem;
	}
}
